<h2>chain info</h2>
<dl>
  <dt>tip</dt>
  <dd>{{tip}}</dd>
  <dt>height</dt>
  <dd>{{data.blocks}}</dd>
</dl>
<h2>wallet</h2>
<dl>
  <dt>balance</dt>
  <dd>{{data.balance}} bsv</dd>
  <dt>details</dt>
  <dd><a href="/wallet">wallet details</a></dd>
</dl>
<h2>mining control</h2>
<form method="POST" action="/mine" class="control">
  <input type="hidden" name="blocks" value="1" />
  <button>
    <img src="/mining.svg" width="100" height="100" />
    <br />
    single block
  </button>
</form>
<form method="POST" action="/mine" class="control">
  <input type="hidden" name="blocks" value="101" />
  <button>
    <img src="/mining.svg" width="100" height="100" />
    <br />
    {{!-- <input type="number" name="blocks" value="101" maxlength="4" id="block-count" /> --}}
    101 blocks
  </button>
</form>
<form method="POST" action="/mine" class="control">
  <input type="hidden" name="blocks" value="101" />
  <button>
    <img src="/mining.svg" width="100" height="100" />
    <br />
    {{!-- <input type="number" name="blocks" value="101" maxlength="4" id="block-count" /> --}}
    101 blocks
  </button>
</form>

<button id="mining-button">
  <img src="/mining.svg" width="100" height="100" />
  <br />
  <span>Start mining</span>
</button>
<script src="/scripts/mine.js"></script>
<script>window.init()</script>

{{#if data.blocks}}
<form method="POST" action="/reset" class="control">
  <button>
    <img src="/dismiss.svg" width="100" height="100" />
    <br />
    reset to genesis
  </button>
</form>
{{/if}}