<script src="/scripts/mine.js"></script>
<h2>chain info</h2>
<dl>
  <dt>tip</dt>
  <dd id="tip">{{tip}}</dd>
  <dt>height</dt>
  <dd id="height">{{data.blocks}}</dd>
</dl>
<h2>wallet</h2>
<dl>
  <dt>balance</dt>
  <dd>{{data.balance}} bsv</dd>
  <dt>details</dt>
  <dd><a href="/wallet">wallet details</a></dd>
</dl>
<h2>mining control</h2>
<section>
<div class="control">
  <button id="mine-1-button">
    <img src="/mining.svg" width="100" height="100" />
    <br />
    single block
  </button>
  <script>
    const mine1Button = document.getElementById('mine-1-button');
    mine1Button.onclick = async () => {
      window.setInfoTip(await window.mineBlock())
    }
  </script>
</div>
<div class="control">
  <button id="mine-many-button">
    <img src="/mining.svg" width="100" height="100" />
    <br />
    101 blocks
  </button>
    <script>
      const mineMultipleButton = document.getElementById('mine-many-button');
      mineMultipleButton.onclick = async () => {
        result = await window.mineBlock(101)
        if (result) {
          const html = '<ul>' + result.map(r => `<li>${r}</li>`).join('') + '</ul>'
          const overlay = document.getElementById('overlay')
          const body = overlay.getElementsByClassName('body')
          body[0].innerHTML = html
          overlay.classList.add('visible')
        }
      }
    </script>
</div>

<div class="control">
  <button id="mining-button">
    <img src="/mining.svg" width="100" height="100" />
    <br />
    <span>Start mining</span>
  </button>
  <script>window.init(); const miningButton = document.getElementById('mining-button'); miningButton.click()</script>
</div>

{{#if data.blocks}}
<form method="POST" action="/reset" class="control">
  <button>
    <img src="/dismiss.svg" width="100" height="100" />
    <br />
    reset to genesis
  </button>
</form>
{{/if}}
</section>

<div id="overlay">
  <section class="container">
    <div class="head">
      <div class="close" onclick="
        const box = document.getElementById('overlay');
        box.classList.remove('visible');"></div>
    </div>
    <div class="body">

    </div>
  </section>
</div>